@media screen and (min-width: 1200px) {
    .home img{
        width: 400px;
        height: 500px;
    }

    .contact .contact-social .row .col-md .contact-item{
        display: flex;
        padding: 20px 20px;
     }

     .contact .contact-social .row .col-md .contact-text{
      
        margin-left: 15px;
     }
    
}

@media screen and (max-width: 768px) {
    *{
        font-size: 14px;
        
    }
    .home img{
        width: 315px;
        height: 400px;
        margin-bottom: 20px;
    } 
    .home, .about, .projects, .contact{
        padding: 15px 10px;
    }
    .projects .col-md-3{
       display: flex;
       justify-content: center;
    }

    .contact .contact-social .row .col-md{
       display: flex;
       justify-content: center;
       text-align: center;
    }
    .contact .contact-social .row .col-md .contact-item{
        display: inline;
        text-align: center;
        padding: 20px 40px;
     }
}       


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}



.navbar{
    background-color: #041C32;
    
}

.home{
    background-color: #041C32;
    height: 100vh;
    box-shadow: 0px -1px 8px 3px rgba(49, 225, 247, 0.603);
}



.img-profile{
    width: fit-content;
}

.about{
    background-color: #082947;
    color: white;
    box-shadow: 0px -1px 5px 3px rgba(49, 225, 247, 0.603);
}

.about .progress{
    margin-bottom: 10px;
}

.projects{
    background-color: #041C32;
    color: white;
    box-shadow: 0px -1px 5px 3px rgba(49, 225, 247, 0.603);
}

.projects .card{
    border: none;
    border-radius: 15px;
    background-color: transparent;
    box-shadow: 0px 0px 5px 3px rgba(49, 225, 247, 0.603);
    text-align: center;
}

.projects .card a{
    margin-top: 10px;
    font-size: 14px;
    border-radius: 20px;
}

.contact{
    background-color: #082947;
    color: white;
    box-shadow: 0px -1px 5px 3px rgba(49, 225, 247, 0.603);
}

.contact .contact-text .text-muted{
    font-size: 14px;
   
}

.contact .contact-text .text-muted a{
   text-decoration: none;
   color: rgb(141, 141, 141);
}


.contact .contact-social .row .col-md .contact-item{
    box-shadow: -4px 10px 25px -14px rgba(0,0,0,0.5);
    transition: .5s ;
 }

.contact .contact-social .row .col-md .contact-item:hover{
    box-shadow: none;
    border: 1px solid rgba(49, 225, 247, 0.603)
 }


.contact form input,textarea{
    box-shadow: 0px 0px 3px 3px rgba(49, 225, 247, 0.603);
    background-color: #fcfcfc;
    font-size: 14px;
}

.contact form textarea{
    box-shadow: 0px 0px 3px 3px rgba(49, 225, 247, 0.603);
    background-color: #fcfcfc;
}

.contact form button{
    margin-top: 10px;
    height: 35px;
    border-radius: 20px;
    width: 70px;
}


footer{
    background-color: #041C32;
    box-shadow: 0px -1px 5px 3px rgba(49, 225, 247, 0.603);
}